<div class="flex-container">
  <div class="flex-item">
    <button type="button" class="btn btn-lg btn-primary"><%= link_to 'Create your own private or public wiki', new_wiki_path %></button>
  </div>
</div>

<div class="container">
  <div id="wikis">
    <%= render @wikis %>
  </div>
</div>

<div class="container">
  <h3><%= will_paginate @wikis, previous_label: h("<"), next_label: h(">") %></h3>
</div>
