<div class="container">
  <h1>Wikibed</h1>
  <h4><%= link_to 'Create a new public or private wiki', new_wiki_path %></h4>
</div>

<div class="container">
  <div id="wikis">
    <%= render @wikis %>
  </div>
</div>

<div class="container">
  <h3><%= will_paginate @wikis, previous_label: h("<"), next_label: h(">") %></h3>
</div>
